<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="../src/style.css"> -->
</head>
<body>
    <!-- le header  -->
     <nav class="flex">
        <img src="../assets/Tasks Flow.png" alt="le logo  de mon site" class="h-[5%] w-[5%] mx-3 my-3">
        <h1 class="m-auto text-black font-black text-3xl ">Système de Gestion des Tâches — To Do List </h1>
     </nav>

    <header class="flex justify-center">
        <button data-modal-target="crud-modal"  data-modal-toggle="crud-modal"  id="btn_ajout" class="block w-[30%] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Add task</button>
        <form class="max-w-md mx-auto w-[30%]">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Tasks..." required />
                <button type="submit" id="btn_Rechercher" class= "text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>
        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"  id="btn_ajout_multi" class="block w-[30%] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Add Multi task +
       </button>
    </header>
    <!-- fin de header  -->

<!-- <div id="vide" class=" w-[100%] h-[80%]"> -->
    <!-- debut forme d 'ajout  -->
    <form id="crud-modal" tabindex="-1" aria-hidden="true"  class="hidden flex  overflow-y-auto overflow-x-hidden  justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)]  max-h-full">
            <div class="relative p-3 w-full max-w-[50%] max-h-full ">
                <div class="bg-red px-[3%] rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white text-center  w-[90%]">
                            Ajouter nouvelle tache
                        </h3>
                        <button type="button" id="btn_close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <form class="modal_form p-4 md:p-5 flex justify-center">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="titre"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
                                <input type="text" name="titre" id="titre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Saisir le nom du tache" required="">
                            </div>
                            <div class="col-span-2">
                                <label for="description"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                <input id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ecrire une  description de tache">                    
                            </div>
                            <div>
                                <label  for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date d'Echeance</label>
                                <input id="date" type="date" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                            <div id="Priorité" class="col-span-2 sm:col-span-1">
                                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Priorité</label>
                                <select id="priorite" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                    <option selected="">P1</option>
                                    <option value="P2">P2</option>
                                    <option value="P3">P3</option>
                                </select>
                                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Staus</label>
                                <select id="statu" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                    <option selected="ToDo">ToDo</option>
                                    <option value="progress">In progress</option>
                                    <option value="Done">Done</option>
                                </select>
                            </div>
                           
                        </div>
                        <div class="flex justify-center ">
                            <button id="validerAjoute" type="submit" class="text-white mb-[2%]  inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            Ajouter Nouvelle Task
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
 
    </form>
    <form id="Update_Card" tabindex="-1" aria-hidden="true"  class="hidden flex  overflow-y-auto overflow-x-hidden  justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)]  max-h-full">
            <div class="relative p-3 w-full max-w-[50%] max-h-full ">
                <div class="bg-red px-[3%] rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white text-center  w-[90%]">
                            modifier la  tache
                        </h3>
                        <button type="button" id="btn_close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <form class="modal_form p-4 md:p-5 flex justify-center">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="titre"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
                                <input type="text" name="titre" id="titre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Saisir le nom du tache" required="">
                            </div>
                            <div class="col-span-2">
                                <label for="description"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                <input id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ecrire une  description de tache">                    
                            </div>
                            <div>
                                <label  for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date d'Echeance</label>
                                <input id="date" type="date" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                            <div id="Priorité" class="col-span-2 sm:col-span-1">
                                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Priorité</label>
                                <select id="priorite" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                    <option selected="">P1</option>
                                    <option value="P2">P2</option>
                                    <option value="P3">P3</option>
                                </select>
                                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Staus</label>
                                <select id="statu" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                    <option selected="ToDo">ToDo</option>
                                    <option value="progress">In progress</option>
                                    <option value="Done">Done</option>
                                </select>
                            </div>
                           
                        </div>
                        <div class="flex justify-center ">
                            <button id="modifier_tache" type="submit" class="text-white mb-[2%]  inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            Modifier
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
 
    </form>
<!-- fin du forme d 'ajout  -->
    
    <!-- modal confirmatino -->
        <div id="confirmation-modal" tabindex="-1" class=" hidden overflow-y-auto flex justify-center overflow-x-hidden  top-[20%]  left-[50%] z-50  items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button id="confirmation_close" type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="p-4 md:p-5 text-center">
                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this product?</h3>
                        <button id="yes_Confirme" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                            Yes, I'm sure
                        </button>
                        <button id="no_Confirme" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="w-[80%] h-fit flex justify-around align-middle mt-[4%] bg-slate-300 rounded-xl ms-auto me-auto ">
        <!-- tri -->
       <div class="m-3">
        <label for="category" class="text-xl text-gray-800">Tri par :</label>
        <select id="trier_select" class="bg-gray-50 border border-gray-300 text-gray-900   text-xl rounded-lg focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 w-[100%]">
            <option value="priorite">Trier par Priorité</option>
            <option value="date">Trier par Date</option>
        </select>
       </div>
        <!-- filtrage -->
       <div class="m-3" >
        <label for="category" class="text-xl text-gray-800">Filtrer par :</label>
        <select id="filtrer_select" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-500 focus:border-primary-500  p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 w-[100%]">
            <option selected="ToDo">----</option>
            <option value="P1">P1</option>
            <option value="P2">P2</option>
            <option value="P3">P3</option>
        </select>
       </div>
    </div>

        <!-- Board tasks  -->
    <div class="flex gap-5 ">
        <!-- To do -->
        <div id="todo" class="to-do-list h-fit flex flex-col flex-1">
            <div class="list-title flex justify-between flex-1 border-b-2 pb-3 px-3 border-blue-700">
                <h1 class="font-semibold">To Do</h1>
                <h1 id="cmpt_todo" class="font-semibold">0</h1>
            </div>
            
        </div>
    <!-- in progress  -->
        <div id="progress" class="to-do-list flex h-fit flex-col flex-1">
            <div class="list-title flex justify-between flex-1 border-b-2 pb-3 px-3 border-blue-700">
                <h1 class="font-semibold">In progress</h1>
                <h1 id="cmpt_progress" class="font-semibold">0</h1>
            </div>
            
        </div>
      <!-- done -->
        <div id="done" class="to-do-list flex h-fit flex-col flex-1">
            <div class="list-title flex justify-between flex-1 border-b-2 pb-3 px-3 border-blue-700">
                <h1 class="font-semibold">Done</h1>
                <h1 id="cmpt_done" class="font-semibold">0</h1>
            </div>
          
        </div>
    </div>

    <!-- fin du tables de affiches -->

    
  
    <script src="../js/main.js" type="module"></script>
</body>
</html>